footer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        margin-right: 2rem;

        li {
            font-family: $secondary-font;
            padding: 1rem;
            background: black;
            color: white;
            border-bottom: 2px solid black;
            transition: 0.4s;
            font-size: 0.9rem;

            &:hover {
                background: white;
                color: black;
                cursor: pointer;
            }
        }
    }
}

@media (min-height: 889px) {
    footer {
        height: 10vh;
    }
}


