.album-gallery-container{
    position: relative;
    width: 100vw;
    height: auto;
    text-align: center;
    z-index: 2;
    display: grid;
    place-items: center;

    .album-cards-title {
      margin-bottom: 1rem;
      text-decoration: underline;
      padding: 0.5rem;
    }

    .album-cards {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
        justify-content: center;
      }

      .card {
        font-family: sans-serif;
        color: DimGrey;
        padding: 2rem;
        box-shadow: 4px 4px 12px 2px rgba(black, 0.3);
        transition: 0.2s;
        width: 40vw;
        height: 40vw;
        margin: 1rem;
        background-size: cover;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .info-container {
        color: black;
        height: auto;
        width: 80%;
        opacity: 0.8;

        h2 {
          font-size: 1.125rem;
          font-family: $main-font;
          font-weight: lighter;
        }

        p {
          font-size: 0.9rem;
        }
      }
      
      .card:not(:first-child) {
        margin-left: var(--distance);
      }
      
      .card:hover,
      .card:focus-within    {
        transform: translateY(-2rem);
        cursor: pointer;
      }

      @media (min-width: 950px) {
        .album-cards {
          width: 80vw;
        }
        .card {
          width: 18vw;
          height: 18vw;
        }  
      }
}

@media (min-width: 800px) {
  .album-gallery-container {
    height: 60%;
    position: absolute;
  }
}