.gallery-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 0%;
    background: white;
    z-index: 10;

    &-close-btn {
        border: 2px solid black;
        padding: 0.75rem;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;
        transition: 0.4s;
        position: absolute;
        top: 6%;
        
        &:hover {
            background: black;
            color: white;
            cursor: pointer;
        }
    }

    .gallery-slider-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .image-gallery-container {
        position: relative;
        height: 60vw;
        width: 90vw;

        .image-container {
            opacity: 0;
            position: absolute;
            height: inherit;
            width: inherit;
            transition: 0.4s ease-out;
            
            &-active {
                opacity: 1;
            }
        }
    
    
        img {
            width: inherit;
            height: inherit;
            z-index: 0;
        }
    
        .image-info-container {
            background: white;
            color: black;
            margin: 0 auto;
            border-radius: 2px;
            text-align: center;
            width: 90vw;
            margin-top: 2%;
            
            ul {

                padding: 0;
                border: 2px solid black;
                padding: 0.5rem;
        
                li {
                    line-height: 1.5;
                    font-family: $secondary-font;
                }
        
            }
        }

        @media (min-width: 800px) {
            .image-info-container {
                width: 40%;
            }
        }

        .bold {
            font-weight: bolder;
            font-family: $secondary-font;
            text-align: center;
        }
    }

    @media (min-width: 800px) {
        .image-gallery-container {
            height: 60vh;
            width: 90vh;
        }
     
    }

    .arrow {
        background: black;
        color: white;
        font-size: 1rem;
        display: inline;
        font-weight: 800;
        border: 2px solid black;
        padding: 1rem;
        padding-top: 0.8rem;
        user-select: none;
        margin: 2rem;
        display: none;
        
        &:hover {
            background: white;
            color: black;
            cursor: pointer;
        }
    }
    @media (min-width: 800px){
        .arrow {
            display: block;
        }
    }
}

@media (min-width: 800px) {
    .gallery-container {
        height: 96vh;
        width: 98vw;
        top: 2%;
        left: 1%;
    }
}
