.upload-form-container {
    height: 100%;
    width: 100%;

    form {
        background: white;
        color: black;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    
    label {
        text-align: center;
        font-family: $secondary-font;
        background: white;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;

        &:hover {
            cursor: pointer;
            background: black;
            color: white;
        }
    }

    input {
        display: none;
    }

    .output {
        display: inline;
        text-align: center;
        margin: 0;
        font-family: $secondary-font;
    }
}